$primaryColor: #ff9238;
$secondaryColor: #3ec992;
$fontColor: #8631ad;

.quiz-card {
  color: $fontColor;
  font-weight: bold;
  font-size: 120%;
  margin: 6rem auto;
  width: 40%;
  background-color: $primaryColor;
  border: 8px groove $fontColor;
  border-radius: 15px;
  padding: 3rem;
}

.question-card {
margin: 6rem auto;
width: 50%;
}
.quiz-name {
text-align: center;
margin: 0 auto;
width: 35%;
font-size: 3rem;
}