$primaryColor: #ff9238;
$secondaryColor: #3ec992;
$fontColor: #8631ad;


.question-card {
  margin: 6rem auto;
  width: 30%;
}

.question-radio-group {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.question-radio-button {
  margin: 1rem .8rem;
}