$primaryColor: #ff9238;
$secondaryColor: #3ec992;
$fontColor: #8631ad;

.main-card {
  font-size: 150%;
  color: $fontColor;
  margin: 6rem auto;
  width: 40%;
  background-color: $primaryColor;
  border: 8px groove $fontColor;
  border-radius: 15px;
  text-align: center;
}

.quiz-card {
  margin: 2rem auto;
  width: 36%;
}

.material-image {
  max-width: 7rem;
  margin: 0 auto;
}

.welcome-title {
  font-weight:  bold;
  margin: 2rem auto;
  width: 40%;
}

.quiz-label {
  font-size: 120%;
  text-decoration: underline;
  padding: 0.5rem;
}

.btn {
  text-decoration: none;
  font-weight: bold;
}