<mat-card class="main-card">
  <mat-card-header class="welcome-title">
    <mat-card-title>Welcome to the Wonderful World of Quiz!</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content class="welcome-title">
    <p>Pick Your Poison!</p>
  </mat-card-content>
  <hr>
  <div *ngFor="let q of quiz">
    <mat-card class="quiz-card">
      <mat-card-header>
        <mat-card-title class="quiz-label">{{q.label}}</mat-card-title>
        <mat-card-subtitle class="quiz-descriptiion">{{q.description}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="material-image" src="../../assets/{{q.name}}.svg">
      <mat-card-actions>
        <button mat-button class="btn btn-primary">
          <a routerLink="/{{q.name}}" class="btn btn-primary">TRY THIS QUIZ</a>
        </button>
      </mat-card-actions>
    </mat-card>
    <hr>
  </div>
</mat-card>